body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


h1{
    font-weight:normal;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: small;
    margin-left: 80px;

}

    

nav{
    width: 60vw;
    font-size: large;
    margin-top: -1px;
}
ul{
    display:  flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: sans-serif;
}
.image1{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.image2{
    position: relative;
    top: -800px;
    left: 40px;
    width: 40%;
    height: 160px;
    border-radius: 6px;
    border-bottom-left-radius: 75px;
    border-top-left-radius: 75px;
   
}
.image3{
    position: relative;
    top: -600px;
    left: 240px;
    width: 40%;
    height: 160px;
    border-radius: 6px;
    border-bottom-right-radius: 75px;
    border-top-right-radius: 75px;
}
.image4{
    position: relative;
    top: -550px;
    left: 40px;
    width: 40%;
    height: 160px;
    border-radius: 6px;
    border-bottom-left-radius: 75px;
    border-top-left-radius: 75px;
}
.image5{
    position: relative;
    top: -450px;
    height: 120px;
    width: 100%;
    border-bottom-style:ridge;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.image6{
    position: relative;
    width: 11%;
    top: -1253px;
    height: 160px;
    left: 40px;
    border-radius: 50%;
}
.image7{
    position: relative;
    top: -1054px;
    height: 160px;
    width: 11%;
    left: 1082px;
    border-radius: 50%;
    
}
.image8{
    position: relative;
    top: -839.5px;
    height: 160px;
    width: 11%;
    right: 288px;
    border-radius: 50%;
}
.timBernerslee{
    position: absolute;
    bottom: 550px;
    left: 210px;
    
}
.www{
    color: black;
}
.hakonlie{
    position: absolute;
    bottom: 370px;
    left: 820px;
}
.css{
    color: black;
}
.brendaneich{
    position: absolute;
    bottom: 130px;
    left: 201px;
}
.js{
    color: black;
}
.container{
    display: flex;
    margin-top: -550px;
    
}
.container>div{
    text-align: center;
}
.container>div>p{
    line-height: 2em;
}
footer{
    text-align: center;
    margin-top: 90px;
    background-color: black;
    color: white;
    border-bottom-style: ridge;
}
.company{
    color: white;
    
}
footer>h1{
    padding: 1.5em;
}
li:hover{
    color: royalblue;
    
}

